<div
  class="flex p-4 pr-0 w-full h-full overflow-x-hidden overflow-y-auto items-start align-middle justify-items-center"
>
  @if (file) {
  <div
    class="flex flex-col w-full h-full overflow-x-hidden overflow-y-auto items-start align-middle justify-items-center"
  >
    <div class="flex flex-row w-full h-full overflow-auto">
      <div class="flex-1/3 mx-10">
        <h2 class="text-2xl font-bold mb-4">File: {{ getFileName() }}</h2>
        <div class="divider"></div>
        <!-- Existing class details -->
        @if (showClass()){
        <div class="flex flex-col p-4">
          <div class="flex flex-col gap-2">
            <h2 class="text-2xl font-light mb-2">
              Class
              <a class="text-2xl font-semibold">
                {{ getClassName() }}
              </a>
            </h2>
            <app-description
              [description]="getDescription()"
              [entityUuid]="getClassUuid()"
              [entityName]="getClassName()"
              (saveDescription)="onSaveDescription($event)"
              (cancelEdit)="onCancelDescriptionEdit()"
            >
            </app-description>
          </div>

          <app-property-list
            propertyLabel="Properties"
            [properties]="properties"
          ></app-property-list>
          <app-constructor-list
            constructorLabel="Constructor"
            [constructors]="constructors"
          ></app-constructor-list>
          <app-method-list
            methodLabel="Methods"
            [methods]="getMethods()"
          ></app-method-list>
          <app-method-list
            methodLabel="Protected Methods"
            [methods]="getProtectedMethods()"
          ></app-method-list>
          <app-method-list
            methodLabel="Public Methods"
            [methods]="getPublicMethods()"
          ></app-method-list>
          <app-method-list
            methodLabel="Private Methods"
            [methods]="getPrivateMethods()"
          ></app-method-list>
        </div>
        } @if (showEnum()){
        <h2 class="text-xl font-light mb-2">
          Enum
          <a class="text-xl font-semibold">
            {{ getEnumName() }}
          </a>
        </h2>
        <app-enum-member-list
          propertyLabel="Members"
          [members]="getEnumMembers()"
        ></app-enum-member-list>
        <div class="my-10"></div>
        }
      </div>
      <div class="flex-1/2 items-center justify-center">
        <!-- Class Diagram -->
        @if (mermaidDiagram) {
        <div class="mb-8">
          <div class="flex flex-col gap-2">
            <div class="flex justify-between gap-2">
              <h3 class="text-xl font-semibold mb-4">Class Diagram</h3>

              <button class="btn btn-sm" (click)="resetZoom()">
                <i class="fas fa-sync"></i> Reset View
              </button>
            </div>
            <div
              class="diagram-wrapper overflow-hidden relative bg-base-200"
              (wheel)="onMouseWheel($event)"
              (mousedown)="onMouseDown($event)"
              (mousemove)="onMouseMove($event)"
              (mouseup)="onMouseUp($event)"
              (mouseleave)="onMouseLeave($event)"
              (contextmenu)="onContextMenu($event)"
            >
              <div
                class="mermaid-diagram-container flex p-4 rounded-lg align-middle items-center justify-center origin-center transition-transform duration-200"
                [innerHTML]="renderedSVG"
              ></div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
